{% extends "base.html" %}

{% block content %}

    <div class="card mb-4">
        <div class="card-body text-center">
            <form method="GET" action="/" class="d-flex justify-content-center align-items-center">
                <div class="me-3">
                    <label for="rok" class="form-label">Rok:</label>
                    <select name="rok" id="rok" class="form-select">
                        {% for year in range(2023, 2031) %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="me-3">
                    <label for="miesiac" class="form-label">Miesiąc:</label>
                    <select name="miesiac" id="miesiac" class="form-select">
                        {% for month in range(1, 13) %}
                            <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="align-self-end">
                    <input type="submit" value="Pokaż" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <h2>Podsumowanie miesiąca</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Przychody: 
                    <strong>{{ "%.2f"|format(total_przychody) }} zł</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wydatki: 
                    <div>
                        {% if roznica_wydatki != 0 %}
                            {% if roznica_wydatki < 0 %}
                                <small class="text-success me-2">(✅ {{ "%.2f"|format(roznica_wydatki) }} zł)</small>
                            {% else %}
                                <small class="text-danger me-2">(❌ +{{ "%.2f"|format(roznica_wydatki) }} zł)</small>
                            {% endif %}
                        {% endif %}
                        <strong>{{ "%.2f"|format(total_wydatki) }} zł</strong>
                    </div>
                </li>
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    Bilans: 
                    <div>
                        {% if roznica_bilans != 0 %}
                            {% if roznica_bilans > 0 %}
                                <small class="text-success me-2">(👍 +{{ "%.2f"|format(roznica_bilans) }} zł)</small>
                            {% else %}
                                <small class="text-danger me-2">(👎 {{ "%.2f"|format(roznica_bilans) }} zł)</small>
                            {% endif %}
                        {% endif %}
                        <strong>{{ "%.2f"|format(bilans) }} zł</strong>
                    </div>
                </li>
            </ul>

            <h2 class="mt-4">Dodaj transakcję</h2>
            <form action="/add" method="POST">
                <div class="mb-3">
                    <label for="data" class="form-label">Data transakcji:</label>
                    <input type="date" id="data" name="data" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="opis" class="form-label">Opis:</label>
                    <input type="text" id="opis" name="opis" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="kwota" class="form-label">Kwota:</label>
                    <input type="number" step="0.01" id="kwota" name="kwota" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="kategoria" class="form-label">Kategoria:</label>
                    <select name="kategoria" id="kategoria" class="form-select" required>
                        {% for kategoria in kategorie %}
                            <option value="{{ kategoria['nazwa'] }}">{{ kategoria['nazwa'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Dodaj</button>
            </form>
        </div>
        <div class="col-md-7">
            <h2>Wydatki w tym miesiącu</h2>
            <canvas id="myPieChart"></canvas>
        </div>
    </div>
    
    <hr class="my-4">
    
    <h2>Ostatnie transakcje</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Data</th>
                <th>Opis</th>
                <th>Kategoria</th>
                <th class="text-end">Kwota</th>
                <th class="text-center">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for transakcja in transakcje %}
            <tr>
                <td>{{ transakcja['data'] }}</td>
                <td>{{ transakcja['opis'] }}</td>
                <td>{{ transakcja['kategoria'] }}</td>
                <td class="text-end">{{ "%.2f"|format(transakcja['kwota']) }} zł</td>
                <td class="text-center">
                    <a href="{{ url_for('edit_transaction', id=transakcja['id']) }}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ url_for('delete_transaction', id=transakcja['id']) }}" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}